/* footer */

#footer {
    /* background-color: #000; */
    /* color: #ccc; */
    color: #333;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: smaller;
    margin-top: auto;
}