/* Estils generals */


body {
  font-family: 'Waltograph', 'Anta', 'Lato', 'arial', cursive;
  /* background-color: #f1f6f1; */
  background-color: #e4ebe4;
  color: #333;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}
#loading-placeholder{
  width: auto;
  height: 30px;
}

#placeholder{
  display: "block";

}
/* Estils per a botons i selects */
button, select {
  background-color: #000; 
  /* background-color: #FF9800; */
  color: white;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px black solid;
}
.set-name{
  min-width: 150px; 
  text-align: center;
  display: inline-block; 
  white-space: nowrap; 
}
button.actiu, select.actiu {
  color: #000; 
}

/* Estils per a la llista de fitxers */
#file-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#file-list li {
  width: calc(16.666% - 20px); /* 6 cartes per fila */
  text-align: center;
  margin: 0 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#file-list li:hover {
  transform: translateY(-15px);
}

#file-list img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 15px;
}

/* Estils per a pantalles mitjanes */
@media screen and (max-width: 1200px) {
  #file-list li {
    width: calc(20% - 20px); /* 5 cartes per fila */
  }
}

/* Estils per a pantalles petites */
@media screen and (max-width: 800px) {
  #file-list li {
    width: calc(33.333% - 20px); /* 3 cartes per fila */
  }
}

/* Estils per a la mida del nom de les cartes */
#file-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* footer */
#footer {
  position: float; 
  bottom: 0; 
  width: 100%;
  text-align: center; 
  padding: 10px 0; 
  margin-top: 20px;
  font-size: smaller;
}